body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
:root {
  --margin-left: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#library-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
  margin-left:  var(--margin-left);
  margin-right: var(--margin-left);
  margin-top: 1rem;
}
.card {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 5px;
  background-color: rgb(249, 234, 216);
}
#dialog-box {
  border: none;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}
dialog::backdrop {
  background-color: rgba(71, 71, 71, 0.6); /* Black with 50% opacity */
}
#formId {
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}
label:not(.radioChose) {
  display: block;
}
label, legend {
  padding: 10px 10px 10px 0px;
}
#formId > div > button:first-child {
  margin-right: 10px ;
}
input:not([type="radio"]) {
  height: 30px;
  padding-left: 10px;
  font-size: 0.8rem;
  border: 1px solid grey;
  border-radius: 15px;
}
input:focus {
  outline: none;
}
#showDialog {
  margin-top: var(--margin-left);
  margin-left: var(--margin-left);
}
.header {
  background-color: rgb(223, 223, 223);
  padding: 1em;
  font-size: 1.5em;
  color:rgb(48, 48, 48) ;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(252, 233, 210);
  border: none;
  cursor: pointer;
}
.remove {
  background-color:rgb(219, 177, 121);
  width: 70%;
  align-self: center;
}