body {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#library-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
}
.card {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding: 20px 5px;
  background-color: rgb(249, 234, 216);
}
.img {
  width: 200px;
  height: 70%;
}
